altair==4.1.0
ipykernel==6.29.2
ipython==8.18.1
matplotlib-inline==0.1.6
mdurl==0.1.2
numpy==1.26.4
openai==1.12.0
pandas==2.2.0
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.0
pydantic==2.6.1
pydantic_core==2.16.2
pydeck==0.8.1b0
streamlit==1.31.1
tqdm==4.66.2
traitlets==5.14.1
langchain==0.1.8
plotly
